#------------------------------
# Alias stuff
#------------------------------
alias ls="ls --color -F"
alias ll="ls --color -lh"
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias diff='diff --color=auto'
alias ip='ip --color=auto'
alias pacman='pacman --color=auto'
alias gr="gvim --remote-silent"
alias vr="vim --remote-silent"
alias upz="source ~/.zshrc"
alias upb="source ~/.bashrc"
#alias mkpy="python3 -m venv env"
alias cat="bat"
alias mkpy="virtualenv --python=/usr/bin/python3.8 env && source env/bin/activate && pip3 install black nose coverage "
alias pyenv="source env/bin/activate"
alias py-s5-setup="mkpy && pyenv && pip3 install s5-module-utils-python[all-modules] --no-cache"
alias sshi= "ssh -i ~/shift5-govcloud-dev.pem"
alias aws-s5-setup="rsync -avzP \"ssh -i ~/.ssh/shift5-govcloud-dev.pem\" ~/aws-setup/*"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
